@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Pacifico', cursive;
    --fonte3: 'Lobster Two', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    
}
html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}
header {
    background-color: black;
    color: white;
    text-align: center;
    
}
heder,  h1 {
    padding-top: 10px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vh;
} 
header > p {
        padding-bottom: 50px;

}
/*main {
    margin: auto;
    max-width: 900px;
}*/
a {
    color: bisque;
    text-decoration: none;
    font-weight: bolder;

}
a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 20px;
    font-family: var(--fonte3);
    font-size: 3.5vh;
}

section > p {
    padding-bottom: 2em;
}

section.normal{
background-color: white;
color: black;
}
section.imagem{
background-color: rgb(51, 51, 51);
color: white;
box-shadow: inset 7px 8px 12px 0px #000000e3;
background-attachment: fixed;
}
section.imagem > p {
    /*display: inline-block;*/
    width: 250px;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0px black;
}

section#img01 {
    background-image: url(../desafio004/imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
}
section#img02 {
    background-image: url(../desafio004/imagens/background002.jpg);
    background-size: cover;
}



footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
}

